*{box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.nav{
    position: fixed;
    width: 100%;
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul{
    background-color: black;
    font-size: 82%;
    height: 50px;
    padding-top: 9px;
    padding-bottom: 12px;
}

li a{
    color:white;
}


.p1{
    background-color: black;
    color: white;
}

.tp1{
    padding-top: 5%;
    text-align: center;
}

.jojo1 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}

.cd1{
     font-size: 320%;
     font-weight: 649;
}

.cd2{
    font-size: 165%;
    font-weight: 600;
}

.pic1{
    margin-bottom: 5%;
}



.tp2{
    text-align: center;
}

.jojo2 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}

.cd3{
    font-size: 320%;
    font-weight: 777;
}

.cd4{
    font-size: 165%;
    font-weight: 499;
}

.pic2{
    margin-bottom: 7px;
}

.p3{
    background-color: black;
    color: white;
}

.tp3{
    padding-top: 5%;
    text-align: center;
}


.cd5{
    letter-spacing: 0.0112em;
    font-size: 340%;
    font-weight: 500;
}

.cd6{
    letter-spacing: 0.2em;
    color: rgb(216, 4, 4);
    font-size: 120%;
    font-weight: 600;
    padding-bottom: .21em;
}

.cd7{
     font-size: 170%;

}

.jojo3 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}

.pic3{
    margin-bottom: 10px;
}

.way1{
    display: flex;
}

.p4{
    margin: 20px;
    width: 50%;
}

.tp4{
    text-align: center;
}

.cd8{
    letter-spacing: 0.0412em;
    font-size: 210%;
    font-weight: 750;
}

.cd9{
    letter-spacing: 0.0112em;
    color: rgb(255, 115, 0);
    font-size: 102%;
    font-weight: 720;
    padding-bottom: .21em;
}

.cd10{
    font-size: 170%;
    font-size: 150%;
}

.jojo4 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}

.pic4{
     margin-top: 10%;
}

.pic4 img{
      height: 250px;
}

.p5{
    margin: 20px;
    width: 50%;
}

.tp5{
    text-align: center;
}

.cd11{
    letter-spacing: 0.0112em;
    font-size: 200%;
    font-weight: 650;
}

.cd12{
    font-size: 150%;
    font-weight: 450;
}

.jojo5 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}

.pic5 img{
    height: 339px;
}

.way2{
    display: flex;
}

.p6{
    margin: 20px;
    width: 50%;
}

.tp6{
    text-align: center;
}

.cd13{
    letter-spacing: 0.0112em;
    font-size: 229%;
    font-weight: 649;
}

.cd14{
    font-size: 140%;
    font-weight: 490;
}

.jojo6 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}


.p7{
    margin: 20px;
    width: 50%;
}

.tp7{
    text-align: center;
}

.cd15{
    letter-spacing: 0.0112em;
    font-size: 200%;
    font-weight: 650;
}

.cd16{
    font-size: 150%;
    font-weight: 450;
}

.jojo7 a{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: rgb(56, 131, 230);
}

.jojo7{
     margin-bottom: 2%;
}

.way3{
     display: flex;
     justify-content: space-between;
}

.pic8 img{
    width: 100%;
    height: 100%;
  }

.p8{
    width: 50%;
    background-color: rgba(188,17,35,255);
    text-align: center;
    color: white;
    padding-top: 43px;
    margin-right: 3px;
}

.cd17{
    letter-spacing: -0.02em;
    font-size: 260%;
    font-weight: 597;
}

.cd18{
    font-size: 140%;
}

.jojo8 a{
    font-size: larger;
    font-weight: 490;
    text-decoration: none;
    color: white;
}


.pic9 img{
   width: 100%;

 }


 .p9{
    width: 50%;
    background-color: rgba(0,0,0,255);
    text-align: center;
    color: white;
    padding-top: 43px;
    margin-left: 3px;
}

.cd19{
    letter-spacing: -0.02em;
    font-size: 260%;
    font-weight: 597;
}

.cd20{
    font-size: 140%;
}

.jojo9 a{
    font-size: larger;
    font-weight: 490;
    text-decoration: none;
    color: rgb(56, 131, 230);
}


.para1{
    background-color: whitesmoke;
    text-align: justify;
    font-size: small;
    color: gray;
}

.para2{
    padding-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
}

.nav2{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-left: 400px;
    padding-right: 400px;
}

.fh1{
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 500;
}

.ol1 a{
       text-decoration: none;
       color: gray;
}

.ol1{
    font-size: 14px;
    font-weight: 400;
    column-gap: 21em;
}
